* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #ffffff; */
    background-image: linear-gradient(to  right, #d2d24c, #8b00e1);
}

#container {
    background: #222;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 5px 0 rgba(0, 0, 0, 0.3);
    width: 300px;
    scale: 1.2;
}
.different {
    background: #fa5307 !important;
}
.equal {
    background: #1d9408 !important;
}

.display input {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #eaeaea;
    color: #000000;
}

.buttons .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    width: 58px;
    height: 58px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #404040;
    color: white;
    
}

.button:hover {
    background-color: #666;
    transform: scale(1.05);
}