body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  text-align: center;
  background: #3d3030;
  padding: 2rem;
  border-radius: 10px;

}
.stopwatch {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.1);
}


h1 {
  color: #333;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1.2rem;
  margin: 0.3rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.stopwatch_1{
  color: #ffffff;
}
.btn_1{
  background: #75c262;
}
.btn_2{
  background: #a85050;
}
.btn_3{
  background: #817821;
}