*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button {
    background: initial;
    border: none;
    font-size: medium;
    cursor: pointer;

}

a {
    color: initial;
    text-decoration: none;

}

body {
    max-width: 800px;
    margin: 0 auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 1.5rem;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.actions .primary {
    padding: 6px 16px;
    border-radius: 6px;
    background: hsl(46, 100%, 56%);
}